.canvas {
  position: relative;
  background-color: black;
  top: 0;
  left: 0;
  cursor: crosshair;
  max-width: 1280px; 
  max-height: 720px; 
  image-rendering:optimizeQuality ; 
}

 h1 {
  color: grey;
  position: relative;rgb(0, 0, 0);
  text-align: top;
  margin-top: 22px; }

.game-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: bottom;
  top: 0;
  width: 1280px;
  height: 5vh;
  background-color: #f2f2f2;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.bottom-menu {
  display: flex;
  justify-content: space-evenly; ;
  align-items: center;
  position:  ;
  bottom: 0;
  width: 1280px;
  height: 5vh;
  background-color: #f2f2f2;
}

.menu-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu-button:active {
  transform: scale(0.9);
}


#game-over-screen {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
#game-over-message {
  font-size: 24px;
  display: flex;
  font-weight: bold;
  color: rgb(252, 3, 3);
  margin-bottom: 22px;
}

#final-score {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

#restart-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.restart-button {
  transform: scale(0.9);
}

#restart-button:hover {
  background-color: #383f39;
}
